<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/description.css">
    <title>Description</title>
</head>
<body>
     <div>
         <form action="/alltask/description/modif" method='POST'>
             <textarea name="desc" id="" cols="30" rows="10"><%=id%></textarea>
             <input type="submit">
         </form>
     </div>
</body>
</html>